# Cautious notes: 
# 1- the tmp/download folder needs to be created and permission set to world-writable (chmod 777)
#     so that selenium can write to it.
# 2- SELENIUM_MAX_SESSION should be larger than n_jobs_download (params.yaml)

CODE_ROOT=/path_to_your_code/asXai
PROJECT_ROOT=/path_to_your_data/asXai/
TEMP_ROOT=/path_to_your_data/asXai/tmp 
VECTORDB_ROOT=/path_to_your_data/asXai/vectorDB
GOOGLE_CREDENTIALS=/path_to_your_credentials/.firebase
GROQ_API_KEY = xxxxxxxxxx

DEV_BYPASS_TOKEN=xxxxx #you generated key to give dev users bypass rights (useful for using endpoints in custom script)
ADMIN_UIDS=xxxxxxx #Firebase userIds for which you want to grant admin rights

QDRANT_HOST=qdrant #Name of the qdrant container
QDRANT_PORT=xxxx # port 

NB_CHROME_NODES=20 #Number of parallel chrome nodes
SELENIUM_MAX_SESSION=30 #Maximal number of parallel selenium session

# this is the path to cloud storage
# in wsl, follow these steps for google drive storage: 
# 1- sudo mount -t drvfs G: /mnt/g (mount the virtual drive)
# 2- ln -s "/mnt/g/<path to a folder on your drive>" /home/<path to your simlinked wsl folder>
# 3- indicate /home/<path to your simlinked wsl folder> in the .env file as the DRIVE_ROOT
DRIVE_ROOT=""

LOG_LEVEL=INFO 

#DEBUG #WARNING
